@model Web.Models.MyTestsViewModel

@{
    ViewBag.Title = "MyTests";
}

<h2>MyTests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Test name</th>
        <th>Open time</th>
        <th>Close time</th>
    </tr>

@foreach (var item in Model.Tests) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.OpenTime
        </td>
        <td>
            @item.CloseTime
        </td>
        <td>
            @if (DateTime.Now > item.OpenTime && DateTime.Now < item.CloseTime)
            {
                @Html.ActionLink("Start test", "../Test/MakeTest/" + item.Id, "Test")
            }
            else
            {
                <i>Test is not open.</i>
            }
        </td>
    </tr>
}

</table>
